.app--tweet
  .circle--fluid
    .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
      .app--avatar(style=`background-image: url(${user.profile_image_url_https})`)
         img(src='images/m-spore.png')
      .circle--fluid--cell.align-bottom
        
